.imageGallery {
    z-index: 3;
  }
  
  .ourProjectDetailHeader {
    height: 5vh;
    background-color: #4d8f63;
  }
  
  .ourProjectDetailContainer {
    display: block;
  }
  
  .ourProjectDetailHeaderImage {
    width: 100%;
  }
  
  .ourProjectDetailIcon {
    width: 10vw;
    height: 10vw;
    margin: 5%;
  }
  
  .ourProjectDetailOverlay {
    position: absolute;
    top: 5%;
    width: 100%;
  }
  
  .ourProjectDetailTitle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4d8f63;
  
    font-family: Abel;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    z-index: 2;
  }
  
  .ourProjectDetailItemList {
    padding: 5%;
    border-radius: 25px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
  }
  
  .ourProjectDetailItem {
    width: 100%;
    height: 100%;
  }
  
  .ourProjectDetailItemTitle {
    width: 100%;
    display: flex;
    margin: 2.5%;
  }
  
  .ourProjectDetailImage {
    width: 100%;
    height: auto;
  }
  
  .ourProjectDetailImageFrame {
    width: 100%;
    min-height: 31vw;
    display: flex;
    height: 40%;
    align-items: center;
    overflow: hidden;
  }
  
  .imageViewer {
    position: fixed;
    height: 100%;
    width: 100%;
  
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(169, 169, 169, 0.5);
    left: 0px;
    top: 0px;
    z-index: 2;
  }
  
  .imageViewerImage {
    min-height: 50vh;
    min-width: 50vw;
  }
  
  .ourProjectDetailOverlayImgFrame {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    right: 0%;
    top: 0%;
    z-index: 1;
  }
  
  .ourProjectDetailOverlayImg {
    position: absolute;
    height: 100%;
    max-width: 100%;
    right: 0%;
    top: 0%;
    opacity: 0.6;
  }
  
  .detailCatBtnList {
    width: 100%;
    position: relative;
    display: flex;
    justify-content:space-around;
  }
  
  .detailCatBtn {
    width: 100%;
    /* background-color: red; */
  }