<div class="ourLayContainer">
    <img class="ourLayImg" loading="lazy"
    src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/yungFolder%2F0material%2Fcert.jpg?alt=media&token=bcfcae11-0fc8-457e-b622-dd4726fcd05b">
    <div class="ourLayDiv">
        <img class="ourLayIcon"
        src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/fuji%20logo%20ver2%203%20(green).png?alt=media&amp;token=13fa8018-5715-4f23-b8c9-4ffd5fd4a181">
        <a class="ourLayTitle">
            Our Certificate
        </a>
    </div>
</div>
<div class="yungCertGallaryContainer" >
    <div *ngFor="let x of pageItemArray" class="yungCertGallaryImageFrame" >
        <img  class="yungCertGallaryImage" src="{{x}}">
    </div>
</div>

