<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<button class="navbarPopHamburgeIcon" (click)="expanNavbar(navbarDiv,NavTriggerArea);navBarClick(hamburgerIconDiv);">
    <div class="container" 
        #hamburgerIconDiv>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</button>
<!-- <div (click)="expanNavbar(navbarDiv,NavTriggerArea)" class="NavTriggerArea "  #NavTriggerArea></div> -->

<div (click)="expanNavbar(navbarDiv,NavTriggerArea);navBarClick(hamburgerIconDiv)" class="NavTriggerArea "
    #NavTriggerArea></div>

<div class="navbarContainer" #navbarDiv>
    <div class=" itemCardContent navbarContentItem" *ngFor="let navItem of navbarGidContainer">
        <a class="hClick" routerLink="/{{navItem.dir}}" (click)="expanNavbar(navbarDiv,NavTriggerArea);navBarClick(hamburgerIconDiv);" >{{navItem.displayName}}</a>
    </div>
</div>

<div *ngIf="atHomePage== false" class="navBackButton flexCenter" routerLink="/{{routerUrl.toString()}}">
    <a class="itemCardValue" >Back</a>
</div>