<div class="homepageContainer">
    <!-- <div class="ourClientHeaderImageContainer">
        <img class="ourClientHeaderImage"
            src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/shutterstock_ourClient.png?alt=media&token=8bfdfb01-e92a-4d1d-a239-09013772800c">
            <div class="ourClientHeaderoverlay">
                <div class="itemCardKeytValue">
                <img class="ourClientHeaderIcon"
                    src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/fuji%20logo%20ver2%203.png?alt=media&token=e6987798-5673-4498-9c9d-75aa15f77752">
            </div>
            <div class="ourClientHeaderTitle">
                <h1>Our Client</h1>
            </div>
        </div>
    </div> -->
    <div class="ourLayContainer">
        <img class="ourLayImg" loading="lazy"
        src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/shutterstock_ourClient.png?alt=media&token=8bfdfb01-e92a-4d1d-a239-09013772800c">
        <div class="ourLayDiv">
            <img class="ourLayIcon"
            src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/fuji%20logo%20ver2%203%20(green).png?alt=media&amp;token=13fa8018-5715-4f23-b8c9-4ffd5fd4a181">
            <a class="ourLayTitle">
                Our Clients
                <!-- {{resultText}} -->
                
            </a>
        </div>
    </div>

    <div class="flexList">
        <h1>ARTICLES</h1>
    </div>

    <div class="ourClientArticels">
        <div *ngFor="let item of pageItemArray[pageCounter]; index as i" class="" #{{i}} class="">
            <!-- <div class="ourClientArticelsItem" *ngIf="i%2 == 0&&item!=null;" >
                <div [style]="'width:100%'">
                    <div class="ourClientArticelsItemTitle itemCardContent"> {{item.data.name}}</div>
                    <div class="ourClientArticelsItemDescription itemCardValue"> {{item.data.description}}</div>
                </div>

                <div class="ourClientArticelsItemImageFrame"  >
                    <a href="{{item.data.file}}" download>
                        <img class="ourClientArticelsItemImage" (click)="viewImage(imageIconRef1.src)"
                            src="{{item.data.image}}" #imageIconRef1>
                    </a>
                </div>
            </div> -->

            <!-- middle variation -->
            <div class="ourClientArticelsItem" >
                <div [style]="'width:100%'">
                    <div class="ourClientArticelsItemTitle itemCardContent"> {{item.data.name}}</div>
                    <div class="ourClientArticelsItemDescription itemCardValue"> {{item.data.description}}</div>
                </div>
                <div class="ourClientArticelsItemImageFrame" >
                    <a href="{{item.data.file}}" download>
                        <img class="ourClientArticelsItemImage" src="{{item.data.image}}" #imageRef2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div [style]="'height:10vh;'"></div>

<div class="ourClientPageControler ">
    <button class="itemButton" (click)="pageSwitch(-1)">
        <span class="material-symbols-outlined">
            navigate_before
        </span>
    </button>
    <div *ngFor="let x of pageItemArray; index as i">
        <div *ngIf="i!=pageCounter">
            <span class="material-symbols-outlined">fiber_manual_record</span>
        </div>
        <div *ngIf="i==pageCounter">
            <span class="material-symbols-outlined">
                adjust
            </span>
        </div>
    </div>
    <button class="itemButton" (click)="pageSwitch(1)">
        <span class="material-symbols-outlined">navigate_next</span>
    </button>
</div>

<!-- Client Reference -->