html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --blue: #389cff;
    --deepBlue: #3f51b5;
    --red: #fc4753;
    --yellow: #f7bc4e;
    --green: #88b25b;
    --white: #ffffff;
    --lightBlue: #8da9c4;
    --lightGray: #cccccc;
    --dark: #4d4d4d;
    --gray: #9DABC2;

    --seaSick: #e9e8e2;
    --sickSea: var(--dark);

    --main: #005E20;
    --mainText: var(--seaSick);
    --sub: #bebebe;
    --subText: var(--dark);

    --bg: var(--white);
    --histarri: var(--yellow);

    --title: 3ch;
    --content: 2ch;
    --keyValue: 1ch;

    --screenS: 700px;
    --screenM: 1200px;
    --screenL: 2000px;

    --imgS: 35px;
    --imgM: 48px;
    --imgL: 96px;

    --boxShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --boxShadow2: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    --boxShadow3: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.itemCardContain {
    width: 100%;
}

@media only screen and (min-width: 700px) {
    :root {
        --imgS: 48px;
        --imgM: 96px;
        --imgL: 192px;
    }
    .itemImageFrame {
        height: 60px;
        width: 60px;
    }
    .itemCardImageFrameContent {
        display: flex;
        flex-direction: column;
        width: auto;
        overflow: hidden;
    }
    .itemCardContain {
        width: 700px;
    }
}

@media only screen and (min-width: 1500px) {
    :root {
        --imgS: 48px;
        --imgM: 192px;
        --imgL: 384px;
        --title: 4.5ch;
        --content: 3.5ch;
        --keyValue: 2.5ch;
    }
    .itemImageFrame {
        height: 100px;
        width: 100px;
    }
}

/* flex */
.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
}

.flexAround {
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    justify-content: space-around;
}

.flexEven {
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    justify-content: space-evenly;
}

.flexList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.keyValue {
    display: grid;
    grid-template-columns: 40% 60%;
    align-content: center;
    justify-content: space-around;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemCardPadding {
    padding: 2%;
}

.itemCardMargin {
    margin: 2%;
}

/* text style */
.itemCardTitle {
    font-size: var(--title);
}

.itemCardContent {
    font-size: var(--content);
}

.itemCardValue {
    font-size: var(--keyValue);
}


.itemButton {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
        transform 0.1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.itemButton:active {
    box-shadow: var(--main) 0px 0.5vh 0px 0px;
}

.itemButton:focus {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0.5vh 0px 0px;
    color: var(--main);
}

.itemButton:hover {
    color: var(--main);
    box-shadow: var(--main) 0px 0.5vh 0px 0px;
}

.hClick {
    background-color: rgba(6, 24, 44, 0.4);
    all: unset;
}

.hClick:active {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0.5vh 0px 0px;
}

.hClick:focus {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0.5vh 0px 0px;
    color: var(--yellow);
}

.hClick:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0.5vh 0px 0px;
}

.colorOn {
    background-color: var(--main);
    color: white;
}

.colorOff {
    background-color: var(--sub);
    color: var(--subText);
}
/* cunstom yung */
.ourLayContainer {
    display: flex;
    position: relative;
    justify-content: center;
}

.ourLayDiv {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    display: flex;
    align-items: end;
}

.ourLayImg {
    width: 100%;
    max-height: 100%;
}

.ourLayIcon {
    width: var(--imgL);
    margin: 2%;
}

.ourLayTitle {
    color: var(--main);
    -webkit-text-stroke: 1px #FFFFFF;
    font-weight: 400;
    font-size: var(--imgS);
    font-weight: bold;
    text-align: center;
    margin: 5%;

}

@media only screen and (min-width: 700px) {
    .ourLayTitle {
        -webkit-text-stroke: 2px #FFFFFF;
    }

}

@media only screen and (min-width: 1500px) {
    .ourLayTitle {
        -webkit-text-stroke: 3px #FFFFFF;
    }

}